{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Zapatillas</title>
    <link rel="stylesheet" href="{% static 'custom_shoes/css/estilos.css' %}">
</head>
<body>
    <header>
        <h1>Catálogo de Zapatillas Personalizadas</h1>
    </header>

    <main class="catalogo">
        {% for sneaker in sneakers %}
        <div class="sneaker-card">
            <h2>{{ sneaker.name }}</h2>
            {% if sneaker.image %}
                <img src="{{ sneaker.image.url }}" alt="{{ sneaker.name }}" width="300" height="auto">
            {% endif %}
            <p>{{ sneaker.description }}</p>
            <a href="{% url 'product_detail' sneaker_name=sneaker.name %}" class="btn">Personalizar</a>
        </div>
        {% endfor %}
    </main>

    <footer>
        <p>Todos los derechos reservados. MiProyectoDjango 2025</p>
    </footer>

</body>
</html>